.footer {
  background-color: #222222;
  width: 100%;
  min-height: 336px;

  > div {
    max-width: 1240px;
    margin: auto;
    padding: 49px 0px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    > div:not(:first-child) {
      display: flex;
      flex-direction: column;
      h3 {
        color: white;
        font-size: 24px;
      }
      a {
        color: #f4f5f7;
        font-family: Regencie;
        margin: 8px 0px;
      }
      p {
        display: flex;
        align-items: center;
        color: #f4f5f7;
        margin: 8px 0px;
        font-family: Regencie;
      }
    }
  }
  .sendEmail {
    margin-top: 18px;
    display: flex;
    align-items: center;
    input {
      padding: 10px 12px;
    }
    button {
      margin-left: 5px;
      border: none;
      width: 46px;
      height: 45px;
      background: #ff6606;
      .MuiSvgIcon-root {
        color: white;
      }
    }
  }
}
