.landing {
  height: 583px;

  &__slider {
    padding-top: 30px;
  }
  .slide {
    z-index: -1;
    .inner {
      display: grid;
      grid-template-columns: 30% 60% 10%;
      gap: 50px;
      > div:nth-child(1) {
        height: 553px;
        background-image: url("../images/bg_2.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
      > div:nth-child(2) {
        height: 553px;
        background-image: url("../images/bg_1.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      > div:nth-child(3) {
        height: 553px;
        background-image: url("../images/bg_3.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .inner2 {
      display: grid;
      grid-template-columns: 30% 60% 10%;
      gap: 50px;
      > div:nth-child(1) {
        height: 553px;
        background-image: url("../images/bg_1.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
      > div:nth-child(2) {
        height: 553px;
        background-image: url("../images/bg_3.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      > div:nth-child(3) {
        height: 553px;
        background-image: url("../images/bg_2.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .swiper-button-next {
    width: 48px;
    height: 48px;
    top: 500px !important;
    right: 18%;
    border-radius: 50%;
    background-color: #ff6606;
  }
  .swiper-button-prev {
    width: 48px;
    height: 48px;
    top: 500px !important;
    left: 76%;
    border-radius: 50%;
    background-color: #ff6606;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: white;
    font-size: 15px;
  }
  .swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
    width: 11px;
    height: 11px;
    margin: 0px 12px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: $primary;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      border: 1px solid $primary;
      width: 27px;
      height: 27px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }
}

.blurred-box {
  position: relative;
  left: -30%;
  width: 473px;
  height: 440px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 2px;

  z-index: 100 !important;
  > div {
    padding: 30px 50px;
    height: 100%;
    > h2:nth-child(1) {
      font-size: 50px;
      max-width: 268px;
      line-height: 60px;
    }
    > h2:nth-child(2) {
      color: $primary;
      font-size: 50px;
    }
    > p {
      font-size: 16px;
      font-weight: normal;
      font-family: "Regencie";
      color: gray;
      font-style: normal;
      margin-bottom: 50px;
      line-height: 24px;
    }
    > button {
      background: linear-gradient(180deg, #ff6606 0%, #ff7e2e 100%);
      // padding: 20px 80px;
      border: none;
      width: 352px;
      height: 70px;
      color: white;
      font-size: 20px;
      cursor: pointer;
      border-radius: 10px;
      text-transform: uppercase;
    }
  }
}

// .blurred-box:after {
//   content: "";
//   width: 500px;
//   height: 500px;
//   background: inherit;
//   position: absolute;
//   left: -10px;
//   left: position;
//   right: 0;
//   top: -10px;
//   z-index: -1;
//   bottom: 0;
//   box-shadow: inset 0 0 0 500px rgba(255, 242, 242, 0.715);
//   filter: blur(5px);
// }
.container {
  position: relative;
  margin-top: 100px;
  > ::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 60%;
    height: 583px;
    top: 0px;
    left: 0px;
    background-color: #ffe4d3;
  }
}
.blurred-container {
  position: absolute;
  right: 60px;
  bottom: 100px;
}
.blurred-box-2 {
  width: 294px;
  height: 148px;
  position: relative;
  border-radius: 2px;
  z-index: 100 !important;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  > div {
    padding: 28px 24px;
    // padding: 24px 28px;
    > h3 {
      font-size: 22px;
    }
    > p {
      font-size: 18px;
      font-weight: 400;
      font-family: "Regencie";
      color: gray;
      font-style: normal;
    }
    > div {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      > h3 {
        font-size: 23px;
      }
    }
  }
}
// .blurred-box-2::after {
//   content: "";
//   width: 500px;
//   height: 500px;
//   background: inherit;
//   position: absolute;
//   left: -10px;
//   left: position;
//   right: 0;
//   top: -10px;
//   z-index: -1;
//   bottom: 0;
//   box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.8);
//   filter: blur(10px);
// }
