.newProduct {
  padding: 10px 0px 60px 0px;
  > h2 {
    text-align: center;
    font-size: 40px;
    line-height: 120%;
  }
  > div {
    max-width: 1240px;
    margin: 40px auto 40px auto;
  }
  .slick__container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    > div {
      width: 404px;
      height: 486px;
      z-index: 1;
      background-color: white;
      &:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h2 {
          font-size: 40px;
          margin-bottom: 8px;
        }
        p {
          color: #616161;
          margin-bottom: 18px;
        }
        > div {
          button {
            background: linear-gradient(180deg, #ff6606 0%, #ff7e2e 100%);
            border-radius: 10px;
            padding: 10px 40px;
            color: white;
            margin-top: 40px;
            &:nth-of-type(2) {
              margin-left: 10px;
              background: none;
              color: $primary;
              border: 1px solid $primary;
            }
          }
        }
      }
      img {
        width: 100%;
        width: 404px;
        height: 486px;
        object-fit: cover;
      }
    }
  }
  // .slick-arrow {
  //   background-color: $primary;
  //   width: 48px;
  //   height: 48px;
  //   border-radius: 50%;
  //   box-shadow: 5px 5px 30px lightgray;
  //   z-index: 100;
  //   top: 45%;
  //   transform: translateY(45%) !important;
  //   &:hover,
  //   &:active {
  //     background-color: lightgray !important;
  //   }
  // }
  .slick-dots {
    bottom: -60px;
  }
  .slick-dots .slick-active {
    border-radius: 50%;
    border: 0.5px solid $primary;
    button::before {
      color: $primary;
      opacity: 1;
    }
  }

  .slick-next {
    background-color: $primary;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    &:hover,
    &:active,
    &:focus {
      background-color: $primary !important;
    }
  }
  .slick-next:before {
    color: white;
    opacity: 1;
    z-index: 100;
  }
}
