.shop {
  margin-top: 100px;
  &__banner {
    height: 400px;
    width: 100%;
    display: grid;
    place-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    transition: all 0.5s ease-in-out;
    > div {
      width: 600px;
      height: 148px;
      background: rgba(34, 34, 34, 0.2);
      backdrop-filter: blur(3px);
      display: grid;
      place-items: center;
      > h2 {
        font-size: 100px;

        &::before {
          content: "#";
          color: $primary;
        }
      }
    }
  }
  &__head {
    text-align: center;
    margin: 50px auto;
    > h2 {
      font-size: 40px;
      color: #3a3a3a;

      &::after {
        content: " muebles";
        color: $primary;
      }
    }
  }
  &__container {
    max-width: 1240px;
    margin: 0px auto;
    display: flex;
    > h2 {
      text-align: center;
      font-size: 40px;
      &::after {
        content: " muebles";
        color: $primary;
      }
    }
  }
}
