.allProduct {
  flex: 1;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
  }
  &__pagination {
    margin: 45px auto;
    display: flex;
    justify-content: center;
    .MuiPaginationItem-root {
      background-color: white;
      border-radius: 3px;
    }

    .MuiPaginationItem-page.Mui-selected {
      background-color: $primary;
      color: white;
    }
  }
}
