.productCard {
  width: 295px;
  height: 406px;
  padding: 14px 34px;
  text-align: center;
  box-shadow: 0px 0px 10px lightgray;
  > img {
    width: 227px;
    height: 224px;
    object-fit: fill;
    margin-bottom: 18px;
  }
  > p:nth-of-type(1) {
    color: #222222;
    font-size: 18px;
  }
  > p:nth-of-type(2) {
    font-size: 24px;
    color: #222222;
  }
  > div:last-child {
    margin-top: 18px;
  }
  .btn__details {
    background: linear-gradient(180deg, #ff6606 0%, #ff7e2e 100%);
    border-radius: 10px;
    padding: 10px 20px;
    color: #f8f8f8;
  }
}
