.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 200px auto;
  width: 610px;
  height: 300px;
}

/* The Close Button */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #aaaaaa;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content {
  display: flex;
  > div:nth-child(1) {
    width: 250px;
    background-color: $primary;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 200px;
      height: 220px;
      object-fit: cover;
    }
  }
  > div:nth-child(2) {
    position: relative;
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    button {
      background-color: $primary;
      background: linear-gradient(180deg, #ff6606 0%, #ff7e2e 100%);
      border-radius: 10px;
      color: white;
      padding: 10px 40px;
      font-size: 20px;
    }
    > div:nth-of-type(1) {
      h2 {
        font-size: 30px;
        color: $primary;
      }
      p {
        color: #222222;
        font-size: 19px;
        margin: 14px 0px;
      }
    }
  }
}
/********************************/
/*modal for the order history */
.modal-order {
  display: block;
  position: fixed;
  z-index: 10000;
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(248, 248, 248, 0.2);
  /* blur */
  backdrop-filter: blur(70px);
}
.modal-content-order {
  background-color: #fefefe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  margin: 100px auto;
  width: 1030px;
  min-height: 1121px;
  position: relative;
  padding: 30px 50px;
  &__table1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 50px;
    > div {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 2px;
    }
  }
  table {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid rgba(97, 97, 97, 0.14);
    box-sizing: border-box;
    /* sombra articulo */
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    tr {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      > th:nth-of-type(1) {
        text-align: left;
      }
      th {
        font-weight: normal;
        text-align: right;
        &:last-child {
          font-weight: 900;
        }
      }
      td {
        &:not(:nth-of-type(1)) {
          text-align: right;
        }
      }
      padding: 6px 26px;
      &:nth-of-type(1) {
        background-color: white;
      }
      &:nth-of-type(2) {
        background: #f4f5f7;
      }
    }
  }
}

.grid_table {
  > div {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    text-align: right;

    p {
      padding: 6px 12px;
    }
    h4 {
      padding: 6px 20px;
    }
  }
}

.close-icon {
  position: absolute;
  right: 20px;
  font-size: 40px;
  top: 20px;
  cursor: pointer;
}
