.nav__container {
  background-color: $primary;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 10000;
}
.nav {
  background-color: #ff6606;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1240px;
  margin: 0px auto;
  position: relative;
  @include breakpoints-down(large) {
    padding: 0px 3%;
  }
  &__left {
    flex: 1;
    display: flex;
    align-items: center;
    @include breakpoints-down(medium) {
      display: none;
    }
    > a {
      color: white;
      font-size: 18px;
      margin: 0px 35px;
      @include breakpoints-down(large) {
        margin: 0px 30px;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    > input {
      color: white;
      background: none;
      border: none;
      outline: none;
      padding-bottom: 5px;
      width: 200px;
      font-size: 18px;
      border-bottom: 1px solid white;
    }
    ::placeholder {
      color: lightgray;
    }
    > div:nth-child(1) {
      > a {
        font-size: 16px;
        color: white;
        margin: 0px 30px;
      }
    }
    > div:nth-child(2) {
      display: flex;
      align-items: center;

      > a {
        font-size: 16px;
        color: white;
        margin: 0px 10px;
      }
    }
  }
  > .nav__cart {
    width: 668px;
    min-height: 270px;
    background: #fff5ee !important;
    position: absolute;
    top: 100px;
    right: 0px;
    padding: 25px 18px;
    > div:not(:last-child) {
      background-color: white;
      padding: 36px;
      display: flex;
      img {
        width: 90px;
        height: 90px;
        object-fit: fill;
      }
      > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 18px;
        > div {
          display: flex;
          justify-content: space-between;
          button {
            color: red;
            font-size: 18px;
          }
          h3 {
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
          }
        }
      }
    }
    > div:last-child {
      display: flex;
      justify-content: space-between;
      margin-top: 14px;
      h2 {
        font-size: 30px;
        color: #616161;
        font-weight: normal;
      }
      button {
        background: linear-gradient(180deg, #ff6606 0%, #ff7e2e 100%);
        border-radius: 5px;
        color: white;
        padding: 13px 18px;
      }
    }
  }
}
.menu-wrapper {
  width: $bar-width;
  height: $bar-height + $bar-spacing * 2;
  cursor: pointer;
  display: none;
  @include breakpoints-down(medium) {
    display: block;
  }
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: $bar-width;
  height: $bar-height;
}

.hamburger-menu {
  position: relative;
  transform: translateY($bar-spacing);
  background: rgba(255, 255, 255, 1);
  transition: all 0ms 300ms;

  &.animate {
    background: rgba(255, 255, 255, 0);
  }
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
