.offer_timer {
  background: #0094ff;
  color: white;
  margin-top: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  text-align: center;
  p {
    font-size: 26px;
    font-weight: lighter;
    color: #f4f5f7;
  }
}
.productDetails {
  margin: 0px auto;
  max-width: 1240px;

  .blog__title {
    padding: 10px;
  }
  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    gap: 38px;
    > div:nth-of-type(1) {
      > div {
        display: flex;
        > div:nth-child(1) {
          width: 105px;
          height: 90px;
          display: grid;
          grid-template-columns: 1fr;
          gap: 5px;
          img {
            width: 105px;
            height: 90px;
            object-fit: fill;
            cursor: pointer;
          }
        }
        > div:nth-child(2) {
          width: 505px;
          height: 374px;
          margin-left: 48px;
          position: relative;
          > img {
            width: 100%;
            height: 100%;
          }
          > button {
            position: absolute;
            background-color: $primary;
            border: none;
            color: white;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            outline: none;
            cursor: pointer;
            &:nth-of-type(1) {
              top: 50%;
              left: 0px;
              transform: translateY(-50%);
            }
            &:nth-of-type(2) {
              top: 50%;
              right: 0px;
              transform: translateY(-50%);
            }
          }
          .disable-btn {
            opacity: 0.5;
            transform: matrix(-1, 0, 0, 1, 0, 0);
          }
        }
      }
    }
    > div:nth-of-type(2) {
      > div {
        max-width: 460px;
        min-height: 415px;
        border: 1px solid rgba(97, 97, 97, 0.14);
        box-sizing: border-box;
        padding: 23px 34px;
        box-shadow: 0px 0px 10px rgba(97, 97, 97, 0.14);
        h2 {
          font-family: HomepageBaukasten;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 120%;
          &:nth-of-type(1) {
            margin-bottom: 20px;
          }
        }
        p {
          font-size: 12px;
          line-height: 120%;
          &:nth-of-type(1) {
            margin-bottom: 10px;
            color: #222222;
          }
          &:nth-of-type(2) {
            color: #616161;
            font-size: 14px;
            line-height: 18px;
          }
        }
        .discount_box {
          margin-top: 20px;
          color: #222222;
          opacity: 0.8;
        }
        .price_box {
          display: flex;
          margin-bottom: 18px;
          align-items: center !important;
          .color__box {
            display: flex;
            div {
              width: 15px;
              height: 15px;
              border-radius: 50%;
              margin-right: 10px;
              &:nth-of-type(1) {
                background-color: #c2a976;
              }
              &:nth-of-type(2) {
                background: #a0b4fa;
              }
              &:nth-of-type(3) {
                background: #545454;
              }
              &:nth-of-type(4) {
                background: #ffe5b1;
              }
            }
          }
          h3 {
            font-size: 30px;
            margin-right: 8px;
          }
          > button {
            color: $primary;
          }
          > div:nth-of-type(2) {
            display: flex;

            > button {
              width: 32px;
              height: 39px;

              cursor: pointer;
              outline: none;
            }
            > P {
              display: grid;
              place-items: center;
              width: fit-content;
              height: 39px;
            }
          }
        }
        .button__box {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          > button {
            background: linear-gradient(180deg, #ff6606 0%, #ff7e2e 100%);
            border-radius: 10px;
            width: 187px;
            height: 50px;
            font-size: 20px;
            color: white;
            &:nth-of-type(2) {
              background: none;
              color: #f90000;
              border: 1px solid #f90000;
            }
          }
        }
      }
    }
    .productDetails__card {
      padding: 25px;
      border: 1px solid rgba(97, 97, 97, 0.14);
      min-height: 879px;
      box-shadow: 0px 0px 10px rgba(97, 97, 97, 0.14);
      h2 {
        color: #222222;
        font-size: 24px;
      }
      p {
        color: #616161;
        font-size: 16px;
        margin-bottom: 20px;
      }
      .thumbnail {
        display: flex;
        > div:nth-child(1) {
          margin-right: 30px;
        }
      }
      > div:nth-of-type(4) {
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        > P:nth-child(even) {
          color: $primary;
        }
      }
    }
    .productDetails__rating {
      > div:nth-of-type(1) {
        display: flex;
        align-items: center;

        h2 {
          font-size: 80px;
          margin-right: 46px;
        }
      }
      .review__box {
        > div {
          display: flex;
          align-items: center;
          > div {
            width: 150px;
            height: 0px;
            height: 5px;
            background-color: #f4f5f7;
            margin-left: 23px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              left: 0px;
              top: 0px;
              right: 0px;
              top: 0px;
              width: 50%;
              height: 5px;
              background-color: $primary;
            }
          }
        }
      }
      > div:nth-of-type(2) {
        margin-top: 50px;

        > div {
          > div {
            margin-top: 25px;
            display: flex;
            align-items: center;
            > h3 {
              font-weight: 900;
              margin-right: 30px;
              font-size: 30px;
            }
          }
          p {
            color: #616161;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .productDetails__similar {
    > h2 {
      margin-top: 60px;
      text-align: center;
      font-size: 40px;
      &::after {
        content: "similares";
        color: $primary;
      }
    }
    > div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 60px 0px;
    }
  }
  .productCombo {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    > p {
      font-size: 40px;
      padding: 15px;
      font-weight: bold;
      color: #ff6606;
    }
    > div:not(:last-child) {
      width: 200px;
      height: 208px;
      box-shadow: 0px 0px 10px lightgray;
      text-align: center;
      img {
        width: 100%;
        padding: 9px 20px;
      }
    }
    > div:last-child {
      height: 100%;
      width: 200px;
      height: 208px;
      padding: 5px 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      button {
        background: linear-gradient(180deg, #ff6606 0%, #ff7e2e 100%);
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 17px;
        color: white;
        &:nth-of-type(2) {
          background: none;
          color: $primary;
          border: 1px solid $primary;
        }
      }
    }
  }
}
