.profile {
  min-height: 80vh;
  display: grid;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 100px;
  > div {
    border: 1px solid rgba(97, 97, 97, 0.14);
    box-shadow: 0px 0px 10px rgba(97, 97, 97, 0.14);
    width: 860px;
    overflow-x: auto;
    min-height: 528px;
    display: flex;
  }
}
.profile__container {
  flex: 1;
  padding: 18px 80px;
  h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  input {
    background: #f4f5f7;
    outline: none;
    border: none;
    padding: 10px 14px;
    color: #616161;
  }
  h3 {
    color: #222222;
    opacity: 0.8;
    font-size: 20px;
    font-weight: normal;
  }
}
.profile__container__2 {
  flex: 1;
  padding: 18px 20px 18px 80px;
  h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  input {
    background: #f4f5f7;
    outline: none;
    border: none;
    padding: 10px 14px;
    color: #616161;
  }
  h3 {
    color: #222222;
    opacity: 0.8;
    font-size: 20px;
    font-weight: normal;
  }
}
.sideBar {
  width: 220px;
  background-color: #f4f5f7;
  min-height: 100%;
  min-height: 528px;
  > div:not(:first-child) {
    padding: 20px;
    cursor: pointer;
  }
  > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 22px 5px;
    cursor: pointer;
    > div:nth-child(2) {
      word-wrap: break-word;
      padding: 10px;
      width: 100%;
    }
  }
  > div:not(:first-of-type) {
    p {
      display: flex;
      align-items: center;
      color: #616161;
      opacity: 0.6;
      .MuiSvgIcon-root {
        margin-right: 10px;
      }
    }
  }
  .active {
    background-color: white;
    p {
      color: $primary !important;
      opacity: 1 !important;
    }
  }
  .MuiAvatar-root {
    width: 100px;
    height: 100px;
    border: 2px solid $primary;
    margin-bottom: 10px;
  }
}

.dashboard {
  > div {
    > div:nth-of-type(1) {
      display: flex;
      justify-content: space-between;
      button {
        font-weight: normal;
        font-size: 12px;
      }
    }
    > div:nth-of-type(2) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      padding: 20px;
      > div {
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 10px;
          font-weight: normal;
          font-size: 18px;
        }
      }
    }
  }

  > div:nth-of-type(3) {
    padding: 20px;
    h3 {
      margin-bottom: 10px;
    }
    > div {
      display: flex;
      flex-direction: column;
    }
    textarea {
      background: #f4f5f7;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
      border-radius: 10px;
      border: none;
      padding: 10px;
      background-repeat: no-repeat;
      &:focus {
        outline: 1px solid $primary;
      }
    }
    ::placeholder {
      text-align: center;
      color: $primary;
    }
  }
}
.editProfile {
  > div {
    &:nth-of-type(1) {
      > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        > div {
          display: flex;
          flex-direction: column;
        }
      }
    }
    &:nth-of-type(2) {
      > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        > div {
          display: flex;
          flex-direction: column;
        }
      }
    }
    &:nth-of-type(3) {
      > div {
        > div {
          display: grid;
          grid-template-columns: 2fr 1fr;
          align-items: center;
          gap: 20px;
        }
      }
    }
    > div {
      padding: 20px;
    }
  }
  button {
    background: linear-gradient(180deg, #ff6606 0%, #ff7e2e 100%);
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    color: #222222;
    opacity: 0.8;
  }
}
.orderHistory {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(97, 97, 97, 0.14);
  &__top {
    background: #f4f5f7;
    padding: 15px 20px;
    position: relative;
    .selectBox {
      position: absolute;
      bottom: 0px;
      right: 40px;
    }
    select {
      min-width: fit-content;
      padding: 5px;
      border: none;
      font-size: 14px;
      outline: none;
      cursor: pointer;
    }
  }
  table {
    display: flex;
    flex-direction: column;

    tr {
      flex: 1;
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr 1fr;

      th {
        font-size: 14px;
        color: #222222;
        opacity: 0.8;
        ttext-align: center;
      }
      td {
        text-align: center;
        &:nth-of-type(4) {
          font-weight: bold;
          font-size: 14px;
        }
      }
      th,
      td {
        flex: 1;
        padding: 10px;
        button {
          background-color: $primary;
          padding: 3px 7px;
          border-radius: 5px;
          color: white;
        }
      }
    }
  }
}
